extends ../layout/main
include ../mixins/mixins

block title
    | index

block content
    include ../sections/no-limits
    include ../sections/power
    include ../sections/speedy
    include ../sections/incredible
    include ../sections/accurate
    include ../sections/selfi
    include ../sections/organic
    include ../sections/trust
    include ../sections/stylish
    include ../sections/comfortable
    include ../sections/galaxy