.outline-c {
  outline: 1px solid #ccc;
}

.outline-cc {
  outline: 3px solid #ccc;
}

.outline {
  outline: 1px solid #000;
}

.outline-2 {
  outline: 3px solid #000;
}

.outline-g {
  outline: 1px solid #00663f;
}

.outline-gg {
  outline: 3px solid #00663f;
}

.outline-w {
  outline: 1px solid #fff;
}

.outline-ww {
  outline: 3px solid #fff;
}

.outline-r {
  outline: 1px solid #f00;
}

.outline-rr {
  outline: 3px solid #f00;
}


.bg-red {
  background-color: rgba(#ff0000, .75);
}

.bg-green {
  background-color: rgba(#108f00, .75);
}

.default-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 1px solid #333;

  &__icon {
    fill: #333;
    width: 60px;
    height: 60px;
    margin: 10px;
  }

  &__title {
    color: #333;
  }
}


.test-grid-block {
  position: relative;
  top: 0;
  transform: translateY(-50%);
  &__item {
    outline: 1px solid #FFF;
    background-color: rgba(255, 0, 0, .2);
    height: 2000px;
    &_blue {
      background-color: rgba(52, 62, 87, 0.2);
    }
  }
}

.test {
  border: 2px solid #000;
  height: 100px;
}

.test-vue {
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  margin: 10px;
  //margin-bottom: 200px;
}


//.row.test-block
//.col-lg-1.test-block__item
//.col-lg-1.test-block__item
//.col-lg-1.test-block__item
//
//.col-lg-1.test-block__item
//.col-lg-1.test-block__item
//.col-lg-1.test-block__item
//
//.col-lg-1.test-block__item
//.col-lg-1.test-block__item
//.col-lg-1.test-block__item
//
//.col-lg-1.test-block__item
//.col-lg-1.test-block__item
//.col-lg-1.test-block__item

//.row.test-block
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue
//.col-lg-1.test-block__item.test-block__item_blue