html {
  max-width: 1920px;
  margin: 0 auto;
  scroll-behavior: smooth;
  @media (max-width: 575px) {
    font-size: 13px;
  }
  @media (min-width: 576px) {
    font-size: 13px;
  }
  @media (min-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 15px;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
  }
}

body {
  font-family: $font;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #007AD3;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}

.main {
  position: relative;
  padding-top: 305px;
  flex: 1;
  background: linear-gradient(89.92deg, #0684E6 0.64%, #1A99EF 50.52%, #0884E6 99.89%);
  border-radius: 13rem;
  @media (max-width: 575px) {
    padding-top: 55px;
    border-radius: 30px;
  }
}

.alert {
  font-size: 14px;
}

.title-as-h1 {
  font-family: $font-medium;
  font-size: 5.375rem; // 86px;
  line-height: 1;
  @media (max-width: 575px) {
    font-size: 32px;
    line-height: 40px;
  }
}

.title-as-h2 {
  font-family: $font-medium;
  font-size: 4.5rem; // 72px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media (max-width: 575px) {
    font-size: 24px;
  }
}

.paragraph {
  &_mb {
    margin-bottom: 15px;
    @media (max-width: 575px) {
      margin-bottom: 10px;
    }
  }
}

.lead {
  font-family: $font-bold;
  font-size: 28px;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
  &_mb {
    margin-bottom: 3.125rem;
  }
  @media (max-width: 575px) {
    font-size: 16px;
  }
  &_min {
    font-size: 20px;
  }
  &_mb {
    margin-bottom: 30px;
    @media (max-width: 575px) {
      margin-bottom: 15px;
    }
  }
}

.title-span {
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  &_line {
    margin-bottom: 40px;
    &:before {
      content: "";
      width: 320px;
      height: 1px;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(90deg, #AE58FF 0%, #F6ECFF 100%);
      border-radius: 43px;
      @media (max-width: 575px) {
        width: 155px;
      }
    }
  }
  @media (max-width: 575px) {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.line {
  width: 23.63rem;
  margin: 1.875rem auto;
  border: 0;
  border-top: 2px solid #6DD5ED;
  &_gray {
    border-top: 2px solid #DDDDDD;
  }
}

.link {
  color: $link-color;
  &:hover {
    color: rgba($link-color, .9);
    text-decoration: none;
    transition: 0.2s;
  }
}

.section {
  &_mb-mid {
    margin-bottom: 6.25rem;
    @media (max-width: 575px) {
      margin-bottom: 50px;
    }
  }
}

.layout {
  &_mb-mid {
    margin-bottom: 6.25rem;
    @media (max-width: 575px) {
      margin-bottom: 50px;
    }
  }
}

.img-responce {
  width: 100%;
  height: auto;
}

.lg\:mb {
  margin-bottom: 80px;
}

.xs\:mb {
  @media (max-width: 991px) {
    margin-bottom: 40px;
  }
}

.md\:mb {
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
}

.sm\:mb_b {
  @media (max-width: 767px) {
    margin-bottom: 75px;
  }
}

.shade {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 17px;
    background-color: #000;
    opacity: .5;
    position: absolute;
    left: 0;
    bottom: -50px;
    filter: blur(25px);
    border-radius: 25px;
    @media (max-width: 991px) {
      content: none;
    }
  }
}

.img-frame {
  margin: 0 auto;
  width: 58%;
  @media (min-width: 1200px) {

  }
  &_mb {
    margin-bottom: 20px;
    @media (max-width: 991px) {
      margin-bottom: 1px;
    }
  }
}

.span-circle-wrap {

  &_m {
    margin-right: 15px;
  }
}

.span-circle-item {
  cursor: pointer;
  display: flex;
  &__text {
    font-size: 14px;
    width: 70%;
    margin-right: 15px;
    @media (max-width: 575px) {
      font-size: 10px;
    }
  }
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.span-circle {
  display: block;
  background-color: #000;
  border: 2px solid #FFFFFF;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  @media (max-width: 575px) {
    width: 30px;
    height: 30px;
  }
  border-radius: 50%;
  margin-right: 15px;
  &_blue {
    background-color: #1D2C67;
  }

  &_mod_blue {
    &.active {
      background-color: #1D2C67;
    }
  }

  &_mod_black {
    &.active {
      background-color: #000;
    }
  }

  &_mod {
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-right: 0;
    @media (max-width: 575px) {
      width: 13px;
      height: 13px;
    }
  }
}

.samsung-icon {
  fill: #fff;
  width: 160px;
  height: 24px;
  margin-bottom: 10px;
  @media (max-width: 575px) {
    width: 58px;
    height: 9px;
  }
}

.link-button {
  display: inline-block;
  border-radius: 12px;
  padding: 20px 45px;
  margin-right: 20px;
  border: 3px solid #FFFFFF;
  font-size: 24px;
  font-family: $font-medium;
  color: #fff;
  flex-shrink: 0;
  @media (max-width: 991px) {
    font-size: 16px;
    border: 1px solid #FFFFFF;
    padding: 12px 23px;
  }
  &:hover {
    color: rgba(#fff, .75);
    text-decoration: none;
  }
}

.triangle-shape {
  position: relative;
  z-index: 100;
  &:before {
    position: absolute;
    right: 0px;
    height: 1997.5px;
    @media (min-width: 1400px) {
      top: -461px;
      width: 959px;
    }
    @media (max-width: 1399px) {
      top: -174px;
      width: 706px;
    }
    @media (max-width: 767px) {
      top: 277px;
      width: 496px;
    }
    @media (max-width: 320px) {
      top: 507px;
      width: 258px;
    }
    content: "";
    background-image: url("../img/header-wrap-02.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

.span-letter {
  color: #FF32AF;
}
