.hamburger {
  position: relative;
  z-index: 200;
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 20px;
  height: 3px;
  border-radius: 0;
  background-color: #fff;
}

.hamburger-inner:before {
  top: -7px;
}

.hamburger-inner:after {
  top: 7px;
}

.hamburger-box {
  width: 20px;
  height: 19px;
}

.hamburger.is-active:hover, .hamburger:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #535353;
}