.headline {
  text-align: center;
  &_mb {
    margin-bottom: 75px;
    @media (max-width: 575px) {
      margin-bottom: 20px;
    }
  }
  &_mb_n {
    margin-bottom: 65px;
    @media (max-width: 575px) {
      margin-bottom: 20px;
    }
  }
}
