.icon {
  fill: #fff;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  &_m {
    margin-right: 10px;
  }
  &_mr {
    margin-right: 10px;
  }
  &_mb {
    margin-bottom: 10px;
  }

  &_mid {
    width: 55px;
    height: 26px;
  }

  &_mid_b {
    width: 95px;
    height: 24px;
  }
}