.navbar {
  position: static;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbar-nav {
  flex-wrap: wrap-reverse;
  @media (min-width: 768px) {
    margin-right: 30px;
  }
}

.nav-item {
  position: relative;
  @media (min-width: 768px) {
    margin-left: 10px;
  }

  @media (min-width: 1200px) {
    margin-left: 30px;
  }
}

.nav-link {
  display: block;
  color: #535353;
  opacity: .5;
  font-size: 14px;
  font-family: $font-medium;
  &_flex {
    display: flex;
    align-items: center;
  }
  &:hover {
    color: #535353;
    opacity: 1;
    text-decoration: none;
  }
  &.active {
    opacity: 1;
  }
}

.navbar-collapse {
  flex-grow: 0;
  @media (max-width: 767px) {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 0;
    right: -200px;
    z-index: 20;
    background: #fff;
    transition: all .3s ease-in-out;

    .navbar-nav {
      width: 100%;
    }

    .nav-item {
      padding: 10px 20px 10px 5px;
    }

    .nav-link {
      color: #535353;
      font-size: 14px;
      text-align: right;
      margin-left: auto;
      opacity: 1;
      &:hover {
        color: #535353;
        text-decoration: none;
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: column;
    align-items: left;
  }
}

.navbar-collapse.show {
  @media (max-width: 767px) {
    padding-top: 90px;
    display: flex;
    justify-content: start;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    min-height: 570px;
  }

  @media (max-width: 767px) {
    width: 50%;
  }
}

button.nav-link {
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

.submenu {
  display: none;
  font-size: 14px;
  position: absolute;
  top: 35px;
  right: 0;
  width: 200%;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  &__link {
    display: block;
    font-family: $font-medium;
    color: #535353;
    @media (max-width: 767px) {
      text-align: right;
    }
    &:hover {
      color: #535353;
      text-decoration: none;
    }
  }

  @media (max-width: 767px) {
    position: relative;
    top: -10px;
    right: 0;
    width: auto;
    background-color: transparent;
  }
}

.navbar-toggler {
  z-index: 9999;
  &:focus {
    outline: none;
  }
}

.connect {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 200;
  &:hover {
    text-decoration: none;
  }

  &__num {
    color: #535353;
    font-family: $font-medium;
    font-size: 32px;
    @media (max-width: 767px) {
      font-size: 24px;
      color: #fff;
    }
  }

  &__icon {
    fill: #535353;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    @media (max-width: 767px) {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      fill: #fff;
    }
  }
  &.dark {
    .connect__num {
      color: #535353;
    }
    .connect__icon {
      fill: #535353;
    }
  }
}

.arrow-down {
  fill: #535353;
  flex-shrink: 0;
  margin-left: 2px;
  width: 14px;
  height: 10px;
}