.property-block-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  @media (max-width: 991px) {
    align-items: flex-start;
  }
  .property-block {
    width: 100%;
  }
}

.property-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &_column-cnt {
    flex-direction: column;
  }
  &_mod {
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &_lg\:flex-direction {
    @media (min-width: 992px) {
      flex-direction: column;
    }
  }
  &_md\:flex-direction {
    @media (max-width: 991px) {
      flex-direction: row;
    }
  }
  &_start {
    justify-content: flex-start;
  }
  &_column {
    flex-direction: column;
  }
}

.property-subblock {
  @media (max-width: 991px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_md\:mb {
    @media (max-width: 991px) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
  &_lg\:mb {
    @media (min-width: 992px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.property {
  font-family: $font-medium;
  &_flex-direction {
    display: flex;
    flex-direction: row;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;

      .icon_m {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
  &_lg\:w {
    @media (min-width: 992px) {
      width: auto;
    }
  }
  &_\:w {
    @media (max-width: 991px) {
      width: 50%;
    }
  }
  &_xs\:w-100 {
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  &_md\:p {
    @media (max-width: 991px) {
      padding: 0 10px;
    }
  }
  @media (max-width: 575px) {
    font-size: 12px;
  }
  &_lg\:mb {
    &:not(:last-child) {
      @media (min-width: 992px) {
        margin-bottom: 20px;
      }
    }
  }
  &_mb {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &_mr {
    &:not(:last-child) {
      margin-right: 65px;
    }
  }
  &_mob_center {
    @media (max-width: 575px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon_m {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
  &_mob_center-mod {
    width: 100%;
    @media (min-width: 992px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media (max-width: 575px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon_m {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
  &_flex {
    display: flex;
    align-items: center;
  }

  &_w_min {

  }

  &__span {
    &_block {
      display: block;
    }
  }
}