.section {
  &_pb {
    padding-bottom: 8.125rem; //130px;
    @media (max-width: 575px) {
      padding-bottom: 85px;
    }
  }
}

.section-footer {
  font-size: 10px;
  text-align: center;
  @media (max-width: 575px) {
    display: none;
  }
  &_mod {
    text-align: left;
    @media (max-width: 575px) {
      display: block;
      text-align: center;
    }
  }
}

.lines-bg {
  position: relative;
  padding-bottom: 300px;
  @media (max-width: 575px) {
    padding-bottom: 165px;
  }
  &:after {
    position: absolute;
    left: 0%;
    bottom: 60px;
    width: 100%;
    height: 360px;
    @media (max-width: 575px) {
      height: 200px;
      bottom: -10px;
    }
    content: "";
    background-image: url("../img/lines-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
