ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  color: #000C75;
  transition: all .2s ease-in-out;
  &:hover {
    color: #00084d;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
}

button, select, input[type="submit"] {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

input, textarea {
  &:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(14, 84, 161, 0.6);
  }
}

label {
  margin-bottom: 0;
}

.flexible {
  @include flexible;
  &_start {
    justify-content: flex-start;
  }
  &_xs_start {
    @media (max-width: 575px) {
      justify-content: flex-start;
    }
  }
  &_wrap {
    flex-wrap: wrap;
  }
}

.text-default {
  text-transform: none !important;
}

.font {
  font-family: $font;
}

.font-bold {
  font-family: $font-bold;
}

.font-medium {
  font-family: $font-medium;
}

.container {
  &_mb_b {
    margin-bottom: 14.6875rem; // 235px
    @media (max-width: 575px) {
      margin-bottom: 16px;
    }
  }
  &_intro {
    padding-top: 160px;
    margin-bottom: 14.6875rem;
    @media (max-width: 575px) {
      margin-bottom: 16px;
      padding-bottom: 40px;
      padding-top: 90px;
    }
  }
}

.container-fluid {
  &_page {
    padding-right: 0;
    @media (max-width: 991px) {
      padding-left: 30px;
    }
    @media (max-width: 575px) {
      padding-left: 20px;
    }
  }
}

.container-fluid-menu {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 575px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-extra {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 576px) {
      width: 540px;
    }
    @media (min-width: 768px) {
      width: 720px;
    }
    @media (min-width: 992px) {
      width: 960px;
    }
    @media (min-width: 1200px) {
      width: 1210px;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row {
  &_mb_b {
    margin-bottom: 5.625rem; //90px
  }
  &_sm\:mb_b {
    @media (min-width: 576px) {
      margin-bottom: 5.625rem; //90px
    }
  }
  &_sm\:mb_m {
    @media (min-width: 576px) {
      margin-bottom: 20px;
    }
  }
  &_mb_mb {
    margin-bottom: 3.125rem; //50px
  }
  &_mb_mid {
    margin-bottom: 10px;
  }
  &_mb {
    margin-bottom: 40px;
  }
  &_mb_n {
    margin-bottom: 30px;
  }

  &_between-cnt {
    justify-content: space-between;
    align-items: center;
  }

  &_property-block {
    justify-content: space-between;
    align-items: center;
    @media (max-width: 991px) {
      justify-content: center;
    }
  }

  &_center {
    justify-content: center;
    align-items: center;
  }
}

.row-intro {
  //align-items: center;
  @media (max-width: 991px) {

  }
}

.mob_pad_0 {
  @media (max-width: 575px) {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.col_mob-0 {
  @media (max-width: 575px) {
    padding-left: 0;
    padding-right: 0;
  }
}