section.section.section_pb
    .headline.headline_mb
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ RAHAT MENYUDUR

        p.title-span.title-span_line Superfast Samsung Experience v9.5 ilə

        .container
            .row.justify-content-center
                .col-12
                    p.lead Galaxy M20, gözləmək istəmiyənlər üçün xüsusi hazırlanmış xüsusi UX bir platforma üzərindən çalışır. İstifadəçi dostu olan yeni dizaynları dəyərləndirin.

    .container
        .row.row_center.flex-column(class="row_sm:mb_m")
            .col-lg-3.col-sm-5.col-7.text-center
                img.img-responce(src="img/m20_13.png" alt="Galaxy M20")

    .container
        .row.justify-content-center
            .col-8
                p.section-footer *Bu faylda istifadə edilən ticarət markaları / loqolar yalnızca təmsili məqsədlər üçündür və əlaqəli şəxslərin mülkiyyətidir. Samsung onlara qarşı istənilən hüquqdan imtina edir.




