section.section.section_pb
    .headline.headline_mb_n
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... SAMSUNG GALAXY M20

        p.title-span.title-span_line Daxili sensorları qiymətləndirin

    .container
        .row.row_property-block
            .col-lg-12.col-11.property-block.property-block_mod

                .property-subblock(class="property-subblock_md:mb")
                    .property.property_mob_center-mod
                        +svg("icon icon_m", "accelerometer")
                        span.property__span Akselerometr

                    .property.property_mob_center-mod
                        +svg("icon icon_m", "sensor")
                        span.property__span Barmaq izi skaneri

                .property-subblock(class="property-subblock_md:mb")
                    .property.property_mob_center-mod
                        +svg("icon icon_m", "geomagnit")
                        span.property__span Geomaqnit sensoru

                    .property.property_mob_center-mod
                        +svg("icon icon_m", "proximity-sensor")
                        span.property__span Yaxınlıq sensoru

                .property-subblock(class="property-subblock_md:mb")
                    .property.property_mob_center-mod
                        +svg("icon icon_m", "light-sensor")
                        span.property__span Virtual işıq sensoru

                    .property.property_mob_center-mod
                        +svg("icon icon_m", "hiroskop")
                        span.property__span Hiroskop


    .container
        .row.justify-content-center
            .intro-prise-wrap.intro-prise-wrap_mt

                .span-circle-wrap.span-circle-wrap_m
                    .span-circle-item(data-link="https://www.bakuelectronics.az/catalog/telefonlar-qadcetler/smartfonlar-mobil-telefonlar/smartfon-samsung-galaxy-m20-32gb-blue-m205.html")
                        span.span-circle-item__text Mavi
                        span.span-circle.span-circle_mod.span-circle_mod_blue.active

                    .span-circle-item(data-link="https://www.bakuelectronics.az/catalog/telefonlar-qadcetler/smartfonlar-mobil-telefonlar/smartfon-samsung-galaxy-m20-32gb-black-m205.html")
                        span.span-circle-item__text Qara
                        span.span-circle.span-circle_mod.span-circle_mod_black

                a.link-buy(href="https://www.bakuelectronics.az/catalog/telefonlar-qadcetler/smartfonlar-mobil-telefonlar/smartfon-samsung-galaxy-m20-32gb-blue-m205.html").link-button İNDİ AL

                .intro-prise
                    span.intro-prise__span 399
                    +svg("intro-prise__icon", "manat")

