section.section.section_pb
    .headline.headline_mb
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ İNANILMAZDIR

        p.title-span.title-span_line Utra geniş bucağa sahib dual əsas kamera ilə.

        .container
            .row.justify-content-center
                .col-8
                    p.lead İndi ultra geniş bucağa sahib dual kamera ilə bütün dostlarınızın olduğu fotonu bir klik ilə çəkin.

    .container
        .row.row_between-cnt
            .col-lg-8.col-md-12.shade(class="md:mb")
                img.img-responce(src="img/m20_5.png" alt="Galaxy M20")

            .col-lg-4.col-md-12.property-block.property-block_column-cnt
                .property.property_mb
                    +svg("icon icon_mr", "diafragma")
                    span.property__span 13 Mp / F1.9 diafraqma

                .property.property_mb
                    +svg("icon icon_mr", "camera")
                    span.property__span 5 Mp, 120° Ultra geniş bucaqlı kamera

                .property.property_mb
                    +svg("icon icon_mr", "auto-focus")
                    span.property__span PDAF Yüksətsürətli avtofokus
