.container.container_intro
    .row.row-intro
        .col-lg-6.col-12.into-col

            .intro-title
                +svg("samsung-icon", "samsung")
                h1.title-as-h1(id="intro") Galaxy <span style="color: #FF32AF">M</span>20

            .intro-prise-wrap.intro-prise-wrap_mb

                .span-circle-wrap.span-circle-wrap_m
                    .span-circle-item(data-link="https://www.bakuelectronics.az/catalog/telefonlar-qadcetler/smartfonlar-mobil-telefonlar/smartfon-samsung-galaxy-m20-32gb-blue-m205.html")
                        span.span-circle-item__text Mavi
                        span.span-circle.span-circle_mod.span-circle_mod_blue.active

                    .span-circle-item(data-link="https://www.bakuelectronics.az/catalog/telefonlar-qadcetler/smartfonlar-mobil-telefonlar/smartfon-samsung-galaxy-m20-32gb-black-m205.html")
                        span.span-circle-item__text Qara
                        span.span-circle.span-circle_mod.span-circle_mod_black


                a.link-buy(href="https://www.bakuelectronics.az/catalog/telefonlar-qadcetler/smartfonlar-mobil-telefonlar/smartfon-samsung-galaxy-m20-32gb-blue-m205.html").link-button İNDİ AL

                .intro-prise
                    span.intro-prise__span 399
                    +svg("intro-prise__icon", "manat")


            .intro-box-wrap.intro-box-wrap_mb

                .intro-box
                    .intro-box__inner
                        span.intro-box__text 6.3” çərçivəsiz V-displey

                .intro-box
                    .intro-box__inner
                        span.intro-box__text 5000 mAh batareya ilə 3 dəfə daha sürətli enerji yığımı

                .intro-box
                    .intro-box__inner
                        span.intro-box__text Ultra geniş bucaqlı kamera


            .d-flex
                .property.property_flex.property_mr
                    +svg("icon icon_m", "microprocessor-01")
                    span.property__span 3 GB <br>RAM

                .property.property_flex.property_mr
                    +svg("icon icon_m", "microprocessor-02")
                    span.property__span 32 GB <br>DAXİLİ YADDAŞ


        .col-lg-6.col-8.m-lg-0.m-auto.shade
            img.img-responce(src="img/m20.png" alt="Galaxy M20")
