section.section.section_pb
    .headline.headline_mb_n
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ SƏRHƏDSİZDİR

        p.title-span.title-span_line 6.3 '' FHD V-displey ilə

    .container
        .row.row_between-cnt
            .col-lg-8.col-12.shade(class="md:mb")
                img.img-responce(src="img/m20_3.png" alt="Galaxy M20")

            .col-lg-4.col-12.property-block(class="property-block_lg:flex-direction property-block_md:flex-direction")

                    .property.property_mb.text-lg-left.text-center(class="property_lg:w property_:w property_md:p")
                        +svg("icon icon_mid icon_mb", "fhd-square")
                        span.property__span.property__span_block 2540x1080 Full HD büllur kimi təmiz görüntü

                    .property.property_mb.text-lg-left.text-center(class="property_lg:w property_:w property_md:p")
                        +svg("icon icon_mid icon_mb", "16-dioganal")
                        span.property__span.property__span_block Galaxy M20, 6.3 cm (16 cm) diaqonal sərhədsiz bir V ekrana sahibdir.

                    .property.property_mb.text-lg-left.text-center(class="property_lg:w property_:w property_md:p")
                        +svg("icon icon_mid icon_mb", "fhd")
                        span.property__span.property__span_block Onun çərçivəsiz FHD + ekranı tam dərinlik  təsiri yaradır.

                    .property.property_mb.text-lg-left.text-center(class="property_lg:w property_:w property_md:p")
                        +svg("icon icon_mid icon_mb", "ppi")
                        span.property__span.property__span_block 409 PPI

