section.section.section_pb
    .headline.headline_mb_n
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ CANLIDIR

        p.title-span.title-span_line Galaxy M20, Widevine L1 ilə HD formatında yayımı təmin edən real əyləncə mənbəyidir.

        .container
            .row.justify-content-center
                .col-12
                    p.lead Dolby ATMOS 360° texnologiyası audio və video materialları tam əhatə edir*

    .container
        .row.row_between-cnt(class="row_lg:mb_b")
            .col-lg-8.col-12.shade(class="md:mb")
                img.img-responce(src="img/m20_10.png" alt="Galaxy M20")

            .col-lg-4.col-12.property-block.property-block_column-cnt

                .property-subblock
                    .property(class="property_lg:mb")
                        +svg("icon icon_mr", "hd")
                        span.property__span Wideline L1

                    .property(class="property_lg:mb")
                        +svg("icon icon_mid_b", "dolby-atmos")

        p.section-footer * Dolby ATMOS yalnız stereo qulaqlıqları və Bluetooth dəstəkləyir.