section.section.section_pb
    .headline.headline_mb
        h2.title-as-h2 <span class="span-letter">M</span>MMM.... NECƏ DƏ TƏRZLİDİR

        p.title-span.title-span_line Premium rəng seçimi ilə

        .container
            .row.justify-content-center
                .col-12
                    p.lead Galaxy M20, tərzindən asılı olmayaraq hər kəs üçün uyğundur. İki rəngdən birini seçə bilərsiniz. Qara və ya mavi

    .container
        .row.row_center.flex-column
            .col-lg-8.col-12.text-center(class="lg:mb xs:mb")
                img.img-responce(src="img/m20_12.png" alt="Galaxy M20")

            .col-lg-5.col-md-12.property-block
                .property.property_flex
                    span.span-circle
                    span.property__span Mavi

                .property.property_flex
                    span.span-circle.span-circle_blue
                    span.property__span Qara
