footer.footer
    a(href="#intro").up-button
        +svg("up-button__icon", "up-arrow")

    .container-fluid
        .row.footer-block
            .footer__icon-wrap
                div
                    +svg("footer__icon footer__icon_visa", "visa")
                    +svg("footer__icon footer__icon_master", "master")

                p.copyrigth.copyrigth_mob  © 2018 - 2019 bakuelectronics.az

            .soc-block
                .soc-block__span Bizə qoşulun:

                a(href="https://www.facebook.com/Baku.Electronics.MMC/").soc-block__icon-wrap
                    +svg("soc-block__icon footer__icon_visa", "fb")

                a(href="https://twitter.com/bakuelectronics").soc-block__icon-wrap
                    +svg("soc-block__icon footer__icon_visa", "twitter")

                a(href="https://www.instagram.com/baku.electronics.mmc/?hl=ru").soc-block__icon-wrap
                    +svg("soc-block__icon footer__icon_visa", "instagram")

                a(href="https://www.youtube.com/user/BakuElectronicsMMC").soc-block__icon-wrap
                    +svg("soc-block__icon footer__icon_visa", "youtube")


            p.copyrigth.copyrigth_desktop  © 2018 - 2019 bakuelectronics.az
