nav.navbar.navbar-expand-md
    .navbar-collapse.collapse(id="navbarSupportedContent")
        ul.navbar-nav
            li.nav-item
                a.nav-link.active(href="https://www.bakuelectronics.az/shares/") Kampaniyalar
            li.nav-item
                a.nav-link(href="https://www.bakuelectronics.az/shops.html") Mağazalar
            li.nav-item.nav-item_slid
                button.nav-link.nav-link_flex
                    span Digər
                    +svg('arrow-down','arrow-down')

                ul.submenu
                    li.submenu__item
                        a.submenu__link(href="https://www.bakuelectronics.az/about-us.html") Şirkət haqqında
                    li.submenu__item
                        a.submenu__link(href="https://www.bakuelectronics.az/careers.html") Vakansiyalar
                    li.submenu__item
                        a.submenu__link(href="https://www.bakuelectronics.az/corporate-sales.html") Korporativ satışlar

    .d-flex.align-items-center
        a(href="#").connect
            +svg('connect__icon','phone-02')
            span.connect__num 143

        <div class="hamburger hamburger--slider js-hamburger" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>




